/* portfolio site - megan lau */

	/* special ID's */

#about {
	
}

#keywords {

}


	/* class */

.title {
	height: 100%;
}



	/* standard items */

* {
	border: hidden;
}

a {

}

p {
	color: black;
	font-size: 11;
	font: Helvetica;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

