/* portfolio - megan lau */

	/* special ID's */

#about {
	
}


	/* class */

.title {
	margin: 0px 0px 10px 0px;
	min-height: 90%;
	background-image: url();
}



	/* standard items */

* {
	border: hidden;
}

a {

}

p {
	color: black;
	font-size: 16;
	font-family: 'Lateef', 'Times', serif;

}

h1 {
	font-size: 36;
	font-family: 'PT Serif', serif;

}

h2 {

}

h3 {
	font-family: 'PT Serif', serif;
	font-style: bold;
	font-size: 24;
}

h4 {

}

