/* portfolio - megan lau */

	/* special ID's */

#about {
	
}


	/* class */

.title {
	height: 100%;
	margin: 0px 0px 10px 0px;


}



	/* standard items */

* {
	border: hidden;
}

a {

}

p {
	color: black;
	font-size: 11;
	font-family: 'PT Serif', serif;

}

h1 {
	font-size: 48;
	font-family: 'PT Serif', serif;

}

h2 {

}

h3 {
	font-family: 'PT Serif', serif;
	font-style: bold;
	font-size: 20;
}

h4 {

}

