/* portfolio - megan lau */


* {
	/* border: 1px solid rgba(0, 0, 0, 0.35); */
	margin: 0;
}

	/* ID */

#subtitle {
	font: 20px 'Lato', sans-serif;
	font-style: italic;
	text-align: center;
	color: white;
	letter-spacing: 0.35px;
}

#keywords {
	font-style: italic;
	color: aquamarine;
	margin: 0;
	padding-left: 0;
}

	/* class */

.welcome_box {
	background-image: url(./images/valenciabeach.JPG);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100vh;
	min-width: 100%;
	min-height: 600px;
  	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	justify-content: center;
}

.welcome_text {
	position: center center;
	text-align: center;
	width: 100%;
}

.nav_custom {
	text-transform: uppercase;
	background: white; 
	opacity: 0.75;
	height: 3.75em;
	position: fixed;
	overflow: hidden;
	width: 100%;
	/* padding: 0.35em 1.25em 0.35em 1.25em; */
}

.nav_custom p {
	padding-left: 1.75%;
	font: 20px 'Futura', sans-serif;
  	color: #303A52;
}

.nav_custom a {
	font: 15px 'Lato', sans-serif;
	color: #393E46;
	text-decoration: underline;
}

.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    background-color: transparent;
    color: black;
	font-weight: bolder;
}

.social_icon {
	width: 2em;
	height: 2em;
	display: block;
}

.about_box {
	margin: 0;
	padding: 3% 6% 3% 6%;
	clear: both;
}

.about_box p {
    margin: 0;
    padding: 0 1.5em 2.5em 0;
}

.bio {
    float: left;
}

.bio_img {
	float: left;
	padding: 2.5%;
}

.modalBox {
	overflow: scroll;
	margin: 7%;
}

.project_box {
	margin: 0;
	padding: 3% 6% 3% 6%;
	background-color: snow;
	justify-content: center;
	clear: both;
	box-sizing: border-box;
}

.btn {
	cursor: pointer;
	display: inline-block;
	position: relative;
	height: 25em;
	float: left;
	padding: 2%;
	text-decoration: blink;
	box-sizing: border-box;
	border: none;
	border-radius: 0;
	box-shadow: none;
}

.btn p {
	font: 36px 'Futura', 'Trebuchet MS', sans-serif;
	color: #2E3B3E;
	padding: 2.75%;
}

.btn p:hover, .btn p:focus {
	text-decoration: underline;
}

.modal-content {
    /* position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    -webkit-transition: opacity 375ms ease-in;
    -moz-transition: opacity 375ms ease-in;
    transition: opacity 375ms ease-in;
    pointer-events: none;
    padding: 10%; 
    background: rgba(26, 28, 30, 0.9);  */
    background: transparent;
    border: none;
    box-shadow: none;
}

.modal-content > div {
    background: inherit;
    border: none;
    box-shadow: none;
    padding: 0;
}

.modal {
	background: rgba(26, 28, 30, 0.75);
	overflow-y: scroll;
	overflow-x: hidden;
}

.modal_size {
	width: 80%;
	padding: 3%;
	margin: 8% auto;
	background: transparent;
}

.modal-title, .modal-body p, .modal-body h4{
	color: mintcream;
}

.modal-body img {
	height: 100%;
	width: auto;
	box-sizing: border-box;
}

.close {
	color: mintcream;
	color: white;
	font-size: 3em;
	font-weight: 100;
	text-shadow: none;
}

.close:hover, .close:focus {
	color: salmon;
}

.course_box {
	margin: 0;
	padding: 3% 6% 3% 6%;
	justify-content: center;
	clear: both;
}

.contact_box {
	background: url("./images/sunsetbokeh.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-blend-mode: overlay;
	background-size: cover;
	width: 100%;
	height: 100vh;
}

	/* standard items */
	
button {

}

img.center {
	margin: auto;
	display: block;
}

ul {
	color: black;
	font: 16px 'Lato', sans-serif;
	list-style: disc inside;
	margin-bottom: 1em;
	margin-left: 22px;
	text-indent: -22px;
}

p {
	color: black;
	font: 16px 'Lato', sans-serif;
  	line-height: 1.63;
  	font-weight: 400;
  	padding: 0em 1.5em 1.5em 1.5em;
  	margin: 0em 0.5em 0em 0.5em;
  	text-align: justify;
}

h1 {
	font: 63px 'Lato', sans-serif;
	font-weight: 300;
	line-height: 1em;
	text-align: center;
	color: white;
	padding-top: 33vh;
	padding-bottom: 0.2em;
}

h2 {
	font: 24px 'Futura', sans-serif;
	color: #2E3B3E;
	margin-bottom: 0.75em;
	margin-top: 0.75em;
}

h3 {
	font: 22px 'Futura', sans-serif;
  	color: black;
  	padding: 0.5em 0em 0.5em 0em;
}

h4 {
	font: 18px 'Lato', sans-serif;
	font-style: italic;
	padding-bottom: 0.37em;
}
