/* portfolio - megan lau */


* {
	/* border: 1px solid rgba(0, 0, 0, 0.35); */
	margin: 0;
}

	/* ID */

#subtitle {
	font: 20px 'Lato', sans-serif;
	font-style: italic;
	text-align: center;
	color: white;
	letter-spacing: 0.35px;
}

#keywords {
	font-style: italic;
	color: #454553;
}

	/* class */

.welcome_box {
	background-image: url(./images/valenciabeach.JPG);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100vh;
	min-width: 100%;
	min-height: 600px;
  	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	justify-content: center;
}

.welcome_text {
	position: center center;
	text-align: center;
	width: 100%;
}

.nav_custom {
	text-transform: uppercase;
	background: white; 
	opacity: 0.75;
	height: 3.75em;
	position: fixed;
	overflow: hidden;
	width: 100%;
	/* padding: 0.35em 1.25em 0.35em 1.25em; */
}

.nav_custom p {
	padding-left: 1.75%;
	font: 20px 'Futura', sans-serif;
  	color: #303A52;
}

.nav_custom a {
	font: 15px 'Lato', sans-serif;
	color: #393E46;
	text-decoration: underline;
}

.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    background-color: transparent;
    color: black;
	font-weight: bolder;
}

.social_icon {
	width: 2em;
	height: 2em;
	display: block;
}

.about_box {
	margin: 0;
	padding: 3% 6% 3% 6%;
	clear: both;
}

.about_box p {
    margin: 0;
    padding: 0 1.5em 2.5em 0;
}

.bio {
    float: left;
}

.bio_img {
	float: left;
	padding: 2.5%;
}

.modalBox {
	overflow: scroll;
	margin: 7%;
}

.project_box {
	margin: 0;
	padding: 3% 6% 3% 6%;
	background-color: snow;
	justify-content: center;
	clear: both;
	box-sizing: border-box;
}

.project_popup {
	cursor: pointer;
	display: inline-block;
	position: relative;
	height: 25em;
	float: left;
	padding: 2%;
	text-decoration: blink;
	box-sizing: border-box;
}

.project_popup img {
	height: 100%;
	width: auto;
	box-sizing: border-box;
}

.project_popup p {
	font: 40px 'Futura', 'Trebuchet MS', sans-serif;
	color: #2E3B3E;
	text-align: left;
	padding: 8%;
	bottom: 1em;
}

.project_popup p:hover, .project_popup p:focus {
	text-decoration: underline;
}

/* Popup box attempt 2 */

.project_modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(26, 28, 30, 0.9);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 375ms ease-in;
    -moz-transition: opacity 375ms ease-in;
    transition: opacity 375ms ease-in;
    pointer-events: none;
    padding: 10%;
}

.project_modal:target {
    opacity: 1;
    pointer-events: auto;
}

.project_modal > div {
    width: 66%;
    position: fixed;
    background: (26, 28, 30, 0.75);
    /*
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
    */
}

.project_modal p, .project_modal h3, .project_modal h4 {
	color: mintcream;
}

.close_modal {
	cursor: pointer;
    color: white;
    line-height: 25px;
    position: absolute;
    right: 0.5em;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close_modal p:hover .close_modal p:focus {
    color: black;
}

.course_box {
	margin: 0;
	padding: 3% 6% 3% 6%;
	justify-content: center;
	clear: both;
}

.contact_box {
	background: url("./images/sunsetbokeh.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-blend-mode: overlay;
	background-size: cover;
	width: 100%;
	height: 100vh;
}

	/* standard items */
	
button {

}

img.center {
	margin: auto;
	display: block;
}

ul {
	color: black;
	font: 16px 'Lato', sans-serif;
	list-style: disc inside;
	margin-bottom: 1em;
	margin-left: 22px;
	text-indent: -22px;
}

p {
	color: black;
	font: 16px 'Lato', sans-serif;
  	line-height: 1.63;
  	font-weight: 400;
  	padding: 0em 1.5em 1.5em 1.5em;
  	margin: 0em 0.5em 0em 0.5em;
  	text-align: justify;

}

h1 {
	font: 63px 'Lato', sans-serif;
	font-weight: 300;
	line-height: 1em;
	text-align: center;
	color: white;
	padding-top: 33vh;
	padding-bottom: 0.2em;
}

h2 {
	font: 24px 'Futura', sans-serif;
	color: #2E3B3E;
	margin-bottom: 0.75em;
	margin-top: 0.75em;
}

h3 {
	font: 20px 'Futura', sans-serif;
  	color: black;
  	padding: 0.5em 0em 0.5em 0em;
}

h4 {
	font: 18px 'Lato', sans-serif;
	font-style: italic;
	padding-bottom: 0.37em;
}
