/* portfolio - megan lau */


* {
	border: 1px solid rgba(0, 0, 0, 0.3);
	margin: 0px 0px 0px 0px;
}

	/* ID */

#subtitle {
	font: 20px 'Lato', sans-serif;
	font-style: italic;
	text-align: center;
	color: white;
}

#content {
	justify-content: center;

}

#course_info {
	color: black;
	font: 16px 'Lato', sans-serif;
}

#keywords {
	font-style: italic;
	color: #454553;
}

	/* class */


.welcome_box {
	background-image: url(https://farm5.staticflickr.com/4204/34857455832_60a723fe9e_k.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 550px;
  	overflow-y: hidden;
	top: 0;
	left: 0;
	right: 0;
	justify-content: center;
}

.welcome_text {
	position: center center;
	text-align: center;
	width: 100%;
}


.social {

}

.social_icon {

}

.about_box {
	height: 45%;

}


.bio {
  float: left;
  margin-left: 5%;
  width: 55%;
}

.bio-img {
  float: right;
  width: 45%;
  padding: 1%;
  margin-right: 5%
  
}


	/* standard items */

p {
	color: black;
	font: 16px 'Lato', sans-serif;
  	line-height: 1.63;
  	font-weight: 400;
  	padding: 0em 1.5em 1.5em 1.5em
}

h1 {
	font: 63px 'Lato', sans-serif;
	font-weight: 300;
	text-align: center;
	color: white;
	margin-top: 20%;

}

h2 {
	font: 24px 'Futura', sans-serif;
	color: #2E3B3E;
	margin-left: 6%;

}

h3 {
	font: 20px 'Futura', sans-serif;
	font-style: bold;
  	color: black
}

h4 {
	font: 18px 'Lato', sans-serif;
	font-style: italic;
}
