/****************************************************************
************************** COLOR SCHEMA *************************


   White 				#fff
   Dark Sapphire Blue 	#303A52
   Grey Cloud Burst		#393E46
   Cornflower Blue 		#226e93
   Space Gray			#2E3B3E
   Salmon				#fa8072
   Aquamarine			#7fffd4

   FONT(S)
   Lato
   font-family: 'Caveat', cursive;
   font-family: 'Caveat Brush', cursive;

****************************************************************/

/************************ GENERAL ***********************/
* {
	/* border: 1px solid rgba(0, 0, 0, 0.35); */
	margin: 0; padding: 0; box-sizing: border-box;
}

/*************************** HOME ***************************/

.welcome_box {
	background-image: url(./images/valenciabeach.JPG);
	background-attachment: fixed;
	top: 0; left: 0; right: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-blend-mode: overlay;
	background-size: cover;
	height: 100vh;
	min-width: 100%; min-height: 600px;
	overflow: hidden;
}
.welcome_text {
	width: 100%;
	height: 50%;
}
.welcome_text p {
	font: calc(15px + 0.25vw) 'Lato', sans-serif;
	font-style: italic;
	color: #fff;
	letter-spacing: 0.35px;
	text-align: center;
}
.welcome_btn {
	width: 100%;
	height: 10%;
}
.home-btn {
	font: 20px 'Lato', sans-serif;
	height: 100%;
	border: none;
}
.home-btn a {
	float: none;
	text-align: center;
	color: #fa8072;
	height: auto;
}
.home-btn
.btn-gen {
	border-color: white;
	border-width: 2px;
	border-radius: 0;
}

/************************* NAV BAR *************************/
.nav_custom {
	text-transform: uppercase;
	background: white; 
	opacity: 0.75;
	height: 3.75em;
	position: fixed;
	overflow: hidden;
	width: 100%;
}
.nav_custom p {
	padding-left: 1.75%;
	font: 20px 'Futura', sans-serif;
  	color: #303A52;
}
.nav_custom a {
	font: 15px 'Lato', sans-serif;
	color: #393E46;
	text-decoration: underline;
}
.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    background-color: transparent;
    color: black;
	font-weight: bolder;
}

/************************* ABOUT ME *************************/
.about_box {
	margin: 0;
	padding: 3% 6% 3% 6%;
	clear: both;
}
.about_box p {
    margin: 0;
    padding: 0 1.5em 2.5em 0;
}
.bio { float: left; }
.bio_img { padding: 2.5%; }


/************************* PROJECTS *************************/
.project_box {
	margin: 0;
	padding: 3% 6% 3% 6%;
	background-color: snow;
	justify-content: center;
	clear: both;
	box-sizing: border-box;
}
.project_box .col-sm-6 { padding: 0; }
.sub span {
	text-transform: uppercase; 
	font-weight: bold; 
	font-style: italic;
	letter-spacing: 0.04em;
}  
.btn {
	position: relative;
	height: calc(10em + 25vh);
	float: left;
	box-sizing: border-box;
	border: none; border-radius: 0;
	box-shadow: none;
	white-space: normal;
	word-wrap: break-word;
	text-align: left;
	padding: 1.5%;
}
.btn:active, .btn:hover, .btn:focus { outline: none; }
.btn p {
	font: calc(20px + 1vw) 'Futura', 'Trebuchet MS', sans-serif;
	color: #2E3B3E;
	padding: 7.5%;
	text-align: left;
}
.btn p:hover, .btn p:focus { text-decoration: underline; }

/************************* PROJECT MODALS *************************/
.modal { background: rgba(26, 28, 30, 0.85); max-width: 100%;}
.modal-content {
    background: transparent;
    border: none;
    box-shadow: none;
}
.modal-content > div {
    background: inherit;
    border: none;
    box-shadow: none;
    padding: 0;
}
.modal_size {
	width: 80%;
	padding: 0 2% 0 2%;
	margin: 8% auto;
	background: transparent;
}
.modal-title, .modal-body p, .modal-body h3, .modal-body h4, .modal-body h5, .modal-body ul { 
	color: mintcream;
}
.modal h3 {padding-bottom: 0.85em;}
.modal-body img { box-sizing: border-box; }
.modal-footer { padding-right: 0; }
.modal-footer p{
	font-style: italic;
	color: aquamarine;
	text-align: right;
}
.carousel-control{background: no-repeat none;}
.close {
	color: white;
	font-size: 3.25em;
	font-weight: lighter;
	text-shadow: none;
}
.close:hover, .close:focus { 
	color: salmon;	
	outline: 0; }


/************************* COURSES *************************/
.course_box {
	margin: 0;
	padding: 3% 6% 3% 6%;
	justify-content: center;
	clear: both;
}
.course_box span {
	font-style: normal; 
	color: black; 
	font-weight: bold;
}
.course_box p, ul {
	color: #393E46;
	font: 16px 'Lato', sans-serif;
	font-style: italic;
	list-style: square inside;
	margin-left: 1.3em;
	text-indent: -1.3em; 
}

/************************* CONTACT *************************/
.contact_box {
	background: url("./images/sunsetbokeh.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%; 
	height: 100vh;
	min-width: 100%; min-height: 600px;
	overflow: hidden;
}
.contact_box h1{
	color: #1a1c1e;
	padding-top: 42vh;
}
.social_icon { 
	display: inline-block; 
	margin: 0.35em; 
	height: 1.5em; }
.social_icon:hover, .social_icon:focus { 
	opacity: 0.8; 
}

link { 
	color: #226e93; 
}


.sp li { margin-left: 15px;	text-indent: -22px; padding-bottom: 0.5em;}
.sp li:before { padding-right: 3px; }
p {
	color: black;
	font: 16px 'Lato', sans-serif;
  	line-height: 1.63;
  	font-weight: 400;
  	padding-bottom: 1.25em;
  	margin: 0;
  	text-align: justify;
}
h1{
	font-family: 'Lato', sans-serif;
	font-size: calc(36px + 2.3vw);
	font-weight: 400;
	line-height: 1em;
	text-align: center;
	color: white;
	padding-top: 33vh;
	padding-bottom: 0.2em;
}
h2 {
	font: 24px 'Futura', 'Trebuchet MS', sans-serif;
	color: #2E3B3E;
	margin-top: 0.75em; margin-bottom: 0.75em;
}
h3 {
	font: 20px 'Futura', sans-serif;
  	color: black;
  	padding-top: 0.05em;
}
h4 {
	font: 18px 'Lato', sans-serif;
	font-style: italic;
	text-decoration: underline;
	margin: 0;
	padding-bottom: 0.37em;
}
section {padding-bottom: 2.25em;}
